name: meny
description: A new Flutter project.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.14.0 <3.0.0"

dependencies:
  cloud_firestore: 2.1.0
  cloud_functions: ^3.2.4
  core:
    path: ../core
  cupertino_icons: ^1.0.3
  dartz: ^0.10.0-nullsafety.2
  equatable: ^2.0.3
  firebase_auth: ^1.1.4
  firebase_core: ^1.1.1
  flutter:
    sdk: flutter
  flutter_bloc: null
  flutter_hooks: ^0.17.0
  font_awesome_flutter: ^9.2.0
  get_it: ^7.2.0
  google_fonts: ^2.1.1
  hive_flutter: ^1.1.0
  json_annotation: ^4.4.0
  json_serializable: ^6.1.3
  overlay_support: ^1.2.1
  provider: ^5.0.0
  qr_flutter: ^4.0.0
  responsive_builder: ^0.4.1
  responsive_framework: ^0.1.0
  shimmer: ^2.0.0
  universal_platform: ^1.0.0+1

dev_dependencies:
  build_runner: null
  flutter_lints: ^1.0.4
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
