<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601796248290-ep7aab1full8qvm2ikjvo1vim6bg0cdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601796248290-ep7aab1full8qvm2ikjvo1vim6bg0cdo</string>
	<key>API_KEY</key>
	<string>AIzaSyB_VzFxQLi-hUaKY_QugOtUP9sAjEyc86Q</string>
	<key>GCM_SENDER_ID</key>
	<string>601796248290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.doppelsoft.meny.dev</string>
	<key>PROJECT_ID</key>
	<string>meny-admin-development</string>
	<key>STORAGE_BUCKET</key>
	<string>meny-admin-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601796248290:ios:b3a6cb5d827de8033b14bb</string>
</dict>
</plist>