<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363408732813-432ap5or9m7dtdc95v9o3phvadolk9ia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363408732813-432ap5or9m7dtdc95v9o3phvadolk9ia</string>
	<key>API_KEY</key>
	<string>AIzaSyBb7I2hTC6fuh_JjIvQubSKK5pU0bd31_8</string>
	<key>GCM_SENDER_ID</key>
	<string>363408732813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.doppelsoft.menyAdmin.stg</string>
	<key>PROJECT_ID</key>
	<string>meny-admin-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>meny-admin-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363408732813:ios:c0a5ffba91afc581b1a8c4</string>
</dict>
</plist>
